<body id="page-top" class="index">
    <%= partial('partials/nav', locals: {url_prefix: ''} )%>
    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
              <div class="intro-lead-in">Software development solutions for non-profits</div>
              <div class="intro-heading">Websites, mobile, apps, projects</div>
              <a href="#why-us" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>

    <!-- Why Us (Services) Section -->
    <section id="why-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Why Agile Ventures?</h2>
                  <h3 class="section-subheading text-muted">To survive, charities and non-profits need better, more effective and lower cost software solutions.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Better Software</h4>
                    <p class="text-muted">Better software comes from our better tools and methods: Agile, rapid prototyping, Lean Startup. Let's talk about your non-profit, your people and your needs. We work with you to make your fundraising and delivery more effective with better Websites, Mobile, Apps, Process Automation and projects.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-rocket fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Our purpose aligns with yours</h4>
                    <p class="text-muted">Our purpose is to enable non-profit organisations to become more effective and efficient.  As a non-profit ourselves, our aim is your aim – to overcome obstacles so you can help thousands more people in need.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-dollar fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Much lower cost</h4>
                    <p class="text-muted">Our work is Open Source, so no licence fees, no supplier lock-in, instead open API’s and access to lots of free modules.  Because we are non-profit, we pass on our lower costs: no overheads, lower staff costs and no VAT.  If we build a shared platform for your solution, we can reduce your costs much further.</p>
                </div>
            </div>
            <div class="row">
              <%= partial("partials/nonprofits_contact") %>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="case-studies" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Case Studies</h2>
                    <h3 class="section-subheading text-muted">All case studies available as platform templates for use by you.</h3>
                </div>
            </div>
            <div class="row">
                <% data.portfolio_details.each do |p|%>
                    <%= partial("partials/portfolio_preview", :locals => { :p => p}) %>
                <% end %>
            </div>
            <div class="row">
              <%= partial("partials/nonprofits_contact") %>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">AgileVentures develops better software at lower cost to enable non-profits to be more effective and more efficient.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2012</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In 2012 <a href="https://www.edx.org/xseries/agile-development-using-ruby-rails">UC Berkeley's Software as a Service class</a> was the first of Massively Open Online Class (MOOC) focused on modern software engineering. Ten's of thousands of students took the course and were champing at the bit to work on team projects. <a href="http://agileventures.org">AgileVentures</a> was founded to connect project teams with charity clients.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/about/2.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2013</h4>
                                    <h4 class="subheading">A Community is Born!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">All through 2013 the process and operations evolved. Hundreds of coders signed up for the AgileVentures community. The <a href="https://www.harrowcn.org.uk">"LocalSupport"</a> project was deployed, improved, and started to be noticed. Thousands of lines of code were written, re-written and polished.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014</h4>
                                    <h4 class="subheading">Explosion of Projects</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">More and more programmers get involved to contribute to good causes online, starting new and varied initiatives like the <a href="http://www.agileventures.org/projects/osra-support-system">OSRA project</a>.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/about/4.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015</h4>
                                    <h4 class="subheading">Membership Increases</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">More and more developers join <a href="http://agileventures.org">AgileVentures</a>, with 
                                        membership moving into the 1000s.  <a href="https://www.youtube.com/playlist?list=PLjbL0BCR04Q3vZgjKkkN_AaaSqOQZ5vot">Charity Jamborees</a> introduce many
                                        more charities to the benefits of working with <a href="http://agileventures.org">AgileVentures</a>.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/about/ucb.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016</h4>
                                    <h4 class="subheading">Additional Support</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In collaboration with <a href="http://www.berkeley.edu/">UC Berkeley</a>, AgileVentures is creating paid project courses. <a href="http://www.agileventures.org/membership_plans">Agile Ventures Premium Memberships</a> allow individual developers to get extra support in their professional development.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/about/nhs.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017</h4>
                                    <h4 class="subheading">Bigger clients</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">AgileVentures develops the <a href="https://wiki.healthylondon.org">Social Prescribing and Self-Care wiki</a> for the <a href="http://www.healthylondon.org">UK's National Health Service (NHS) Healthy London Partnership (HLP)</a>.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="images/about/5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2018</h4>
                                    <h4 class="subheading">Mentor Incentive packages</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The NHS renews and extends their work with AgileVentures, and the mentor incentive program is created.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4><a class="inverse page-scroll" href="#contact">Be Part
                                    <br>Of Our
                                    <br>Story!</a></h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section 
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Core Team</h2>
                    <h3 class="section-subheading text-muted">There's no "I" in team!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="images/team/1.jpg" class="img-responsive img-circle" alt="">
                        <h4>Sam Joseph</h4>
                        <p class="text-muted">Funk Meister</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="images/team/2.jpg" class="img-responsive img-circle" alt="">
                        <h4>Raoul Diffouo</h4>
                        <p class="text-muted">Groove Architect</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="images/team/3.png" class="img-responsive img-circle" alt="">
                        <h4>Michael C.</h4>
                        <p class="text-muted">Man of Mystery</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Want to join our team?  Contact us through social media.</p>
                </div>
            </div>
        </div>
    </section>

    -->

    <!-- Clients Aside 
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="images/logos/envato.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="images/logos/designmodo.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="images/logos/themeforest.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="images/logos/creative-market.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>
    -->
    <section id="subscribe">
      <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <%= partial("partials/signup") %>
            </div>
        </div>
      </div>
    </section>
    
    <%= partial('partials/footer') %>

    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <!-- Portfolio Modal 1 -->
    <% data.portfolio_details.each do |p| %>
      <%= partial("partials/portfolio_modal", :locals => { :p => p}) %>
    <% end %>

    <!-- jQuery -->
    <script src="javascripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="javascripts/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="javascripts/classie.js"></script>
    <script src="javascripts/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="javascripts/jqBootstrapValidation.js"></script>
    <script src="javascripts/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="javascripts/agency.js"></script>
    
    
    <script type="text/javascript">
        window._chatlio = window._chatlio||[];
        !function(){ var t=document.getElementById("chatlio-widget-embed");if(t&&window.ChatlioReact&&_chatlio.init)return void _chatlio.init(t,ChatlioReact);for(var e=function(t){return function(){_chatlio.push([t].concat(arguments)) }},i=["configure","identify","track","show","hide","isShown","isOnline"],a=0;a<i.length;a++)_chatlio[i[a]]||(_chatlio[i[a]]=e(i[a]));var n=document.createElement("script"),c=document.getElementsByTagName("script")[0];n.id="chatlio-widget-embed",n.src="https://w.chatlio.com/w.chatlio-widget.js",n.async=!0,n.setAttribute("data-embed-version","2.1");
           n.setAttribute('data-widget-options', '{"embedSidebar": true}');
           n.setAttribute('data-widget-id','8a54fdee-6747-4ce9-4d69-f03c2af664f2');
           c.parentNode.insertBefore(n,c);
        }();
    </script>


